#I should mention that a lot of these files/folders (mainly configs) are from things that I am currently testing, occasionally use for utility, things I forgot about, or I'm too scared to delete because I don't know where they came from.

#Directories
.vscode
asset_director
assets
backups
bin
crash-reports
ct_dumps
debug
dumps
etched-sounds
fancymenu_data
fancymenu_setups
jocodes
imgui.log
libraries
lightspeed-cache
local
logs
modernfix
mods
nekocache
output
pollen-cache
quickPlay
renders
resourcepacks
saves
schematics
screenshots
shaderpacks
staging
unreleased_wip_content
versions
webcache2
worldshape
XaeroWaypoints
XaeroWaypoints_BACKUP032021
XaeroWorldMap

#files
.favorites.json
biomeidfixer.temp
clientId.txt
NewWorldBiomeIdFixer.json
oauthprofiles.json
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
reauth.toml
servers.dat
servers.dat_old
treatment_tags.json
updateLog.txt
updateSourceCache.json
usercache.json
usernamecache.json
WailaErrorOutput.txt
launcher*

#Configs
config/cherishedworlds
config/fancymenu/locals
config/QualityEquipment
config/spark
config/starterkit/starterkit.txt
config/terraforged
config/betterpingdisplay-client.toml
config/bettervillage_1.properties
config/bettervillage.properties
config/bettervillage_general_.properties
config/camera-client.toml
config/doespotatotick-common.toml
config/forge-client.toml
config/forge-common.toml
config/fpsreducer/fpsreducer-client.toml
config/globalgamerules-common.toml
config/jeresources.toml
config/jeresources-common.toml
config/libraryferret_1.properties
config/logbegone.toml
config/libraryferret.properties
config/memorysweep-common.toml
config/mod_checker_list.json
config/mod_checker.json
config/notes-client.toml
config/PregenConfig.toml
config/prehistoricfauna-client.toml
config/prehistoricfauna-common.toml
config/servertabinfo-client.toml
config/servertabinfo-server.toml
config/out_of_sight-client.toml
config/worldedit/worldedit.properties
config/xaerominimap_entities.json
config/xaerominimap.txt
config/xaeroworldmap.txt

#Datapacks

#Misc.
global_resource_packs/AntibangsRenditions/assets/ambientsounds/sounds/suspense/nether.ogg

#Other
!global_resource_packs/AntibangsRenditions/assets
imgui.ini
