#I should mention that a lot of these files/folders (mainly configs) are from things that I am currently testing, occasionally use for utility, things I forgot about, or I'm too scared to delete because I don't know where they came from.

#Directories
asset_director
assets
backups
bin
crash-reports
debug
dumps
etched-sounds
fancymenu_data
fancymenu_setups
jocodes
imgui.log
libraries
local
logs
maessentials
main menu
mods
nekocache
notes
output
pregen
resourcepacks
saves
schematic_collection
schematics
screenshots
shaderpacks
trees
unreleased_wip_content
versions
webcache2
worldshape
XaeroWaypoints
XaeroWaypoints_BACKUP032021
XaeroWorldMap

#files
advancement-ideas.txt
advancements-to-add-to-quest-book.txt
biomeidfixer.temp
clientId.txt
launcher_accounts_microsoft_store.json
launcher_cef_log.txt
launcher_entitlements_microsoft_store.json
launcher_gamer_pics_microsoft_store.json
launcher_log.txt
launcher_msa_credentials_microsoft_store.bin
launcher_product_state_microsoft_store.json
launcher_profiles.json
launcher_profiles.json.bak
launcher_settings.json
launcher_skins.json
launcher_ui_state_microsoft_store.json
NewWorldBiomeIdFixer.json
oauthprofiles.json
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
reauth.toml
servers.dat
servers.dat_old
treatment_tags.json
updateLog.txt
usercache.json
usernamecache.json
WailaErrorOutput.txt

#Configs
config/cherishedworlds
config/defaultworldtype/client-config.toml
config/fancymenu/locals
config/roadrunner
config/spark
config/starterkit/starterkit.txt
config/terraforged
config/advancements_tracker-client.toml
config/betteradvancements-client.toml
config/betterpingdisplay-client.toml
config/betterf3.toml
config/bettervillage.properties
config/bettervillage_general_.properties
config/brutalbosses-common.toml
config/camera-client.toml
config/does_it_tick-common.toml
config/does_it_tick.toml
config/dynmus-client.toml
config/fastsuite.cfg
config/fml.toml
config/forge-client.toml
config/forge-common.toml
config/globalgamerules-common.toml
config/illuminations.properties
config/infinityitemeditor-client.toml
config/infinityitemeditor.toml
config/jeresources.toml
config/jeresources-common.toml
config/libraryferret.properties
config/notes-client.toml
config/pickupnotifier-client.toml
config/PregenConfig.toml
config/mod_lavacow.common.toml
config/musicdr-client.toml
config/out_of_sight-client.toml
config/skinlayers.json
config/worldedit/worldedit.properties
config/tips-client.toml
config/xaerominimap_entities.json
config/xaerominimap.txt

#Datapacks
global_data_packs/baers_additions/data/brutalbosses
global_data_packs/baers_additions/data/ob_aquamirae
global_data_packs/baers_additions/data/baersadditions/advancements/stages

#Scripts
scripts/stages

#Patchouli Books
patchouli_books/baercraft_tome/en_us/entries/stages
patchouli_books/baercraft_tome/en_us/categories/stages
patchouli_books/baercraft_tome/en_us/categories/root_stages_category.json

#Other
!global_resource_packs/AntibangsRenditions/assets
