# Can't Put Mods From CurseForge
mods/*.jar

# Other minecraft files that are unneeded

minecraftinstance.json

# Client-side Stuff #

xaerominimap_entities.json
xaerominimap.txt
xaeropatreon.txt
xaeroworldmap.txt

config/smoothboot.json

options.txt
optionsof.txt

servers.dat
servers.dat_old

usercache.json
usernamecache.json

WailaErrorOutput.txt

.curseclient

config/worldedit/worldedit.properties

# Dev Stuff #

configured-client.toml

### DIRECTORIES (AKA Files) ###

logs
saves
XaeroWaypoints
XaeroWorldMap
XaeroWaypoints_BACKUP032021
screenshots
config/worldedit